{{ $posts := first 3 (where .Site.RegularPages "Section" "posts") }}
{{ if $posts }}
<div class='fp-grid container'>
  <div class='panel'>
    <div class='panel-header'><i class='fas fa-bookmark'></i> Featured Articles</div>
    <div class='featured-mini-grid'>
      {{ range $posts }}
      <a class='featured-mini-item' href='{{ .Permalink }}'>
        <img src='{{ if .Params.image }}{{ printf "%s%s" (.Site.Home.RelPermalink | strings.TrimSuffix "/") .Params.image }}{{ else }}https://placehold.co/300x200/0066FF/FFFFFF?text=BosiWrites{{ end }}' alt='{{ .Title }}'/>
        <span class='title'>{{ .Title }}</span>
        <span class='date'>{{ .Date.Format "Jan 2, 2006" }}</span>
      </a>
      {{ end }}
    </div>
  </div>
  <div class='panel'>
    <div class='panel-header'><i class='fas fa-list'></i> Latest Posts</div>
    <div class='vertical-list'>
      {{ range $posts }}
      <a class='vl-item' href='{{ .Permalink }}'>
        <img src='{{ if .Params.image }}{{ printf "%s%s" (.Site.Home.RelPermalink | strings.TrimSuffix "/") .Params.image }}{{ else }}https://placehold.co/120x120/0066FF/FFFFFF?text=B{{ end }}' alt='{{ .Title }}'/>
        <div class='vl-info'>
          <h4>{{ .Title }}</h4>
          <span class='date'>{{ .Date.Format "Jan 2, 2006" }}</span>
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
