{{ $posts := first 3 (where .Site.RegularPages "Section" "posts") }}
{{ if $posts }}
<div id='slider-wrapper' class='container'>
  <div class='slider-container'>
    <div class='slider-track'>
      {{ range $posts }}
      <div class='slide-item' style="background-image:url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}https://placehold.co/1200x500/0066FF/FFFFFF?text=BosiWrites{{ end }}')">
        <div class='slide-overlay'></div>
        <div class='slide-content'>
          {{ with .Params.categories }}<span class='slide-tag'>{{ index . 0 }}</span>{{ end }}
          <h2 class='slide-title'><a href='{{ .Permalink }}' style='color:inherit;'>{{ .Title }}</a></h2>
          {{ with .Summary }}<p class='slide-excerpt'>{{ . | plainify | truncate 140 }}</p>{{ end }}
          <div class='slide-meta'>{{ .Site.Params.author }} - {{ .Date.Format "Jan 2, 2006" }}</div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ if gt (len $posts) 1 }}
    <div class='slide-dots'>
      {{ range $i, $p := $posts }}
      <button class='dot{{ if eq $i 0 }} active{{ end }}'></button>
      {{ end }}
    </div>
    <div class='slide-arrows'>
      <button id='slide-prev'>&#8249;</button>
      <button id='slide-next'>&#8250;</button>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
